<% provide(:title, "View") %>
<div class="post-view">
  <h2>Post's view</h2>
  <p> <span>Title:</span><%= @post.title %> </p>
  <p class="post-img"><%= image_tag @post.image.url unless @post.image.file.nil? %></p>
  <p> <span>Post:</span><%= @post.body %> </p>
  <%= button_tag class: "post-action btn btn-sm btn-warning" do %>
    <%= link_to "Edit Post", edit_post_path, method: :get %>
  <% end %>
  <%= button_tag class: "post-action btn btn-sm btn-warning" do %>
    <%= link_to "Delete Post", post_path(@post.id), method: :delete %>
  <% end %>

  <h2>Comments</h2>
  <% if @post.comments.all.count==0 %>
    <h3>Post nobody has commented. Please leave your comments.</h3>
  <% end %>
  <%= render file: 'comments/_form' %>

  <div class="comments">
    <% @comments.each do |comment| %>
      <div class="list-group-item" id=<%= "comment-#{comment.id}" %> >
        <p><%= comment.body %></p>
        <%= link_to "Edit", edit_post_comment_path(@post, comment), remote: true %>
      </div>
    <% end %>
  </div>
</div>
