<% provide(:title, "View") %>
<div class="post-view">
  <h2>Post's view</h2>
  <p> <span>Title:</span><%= @post.title %> </p>
  <p> <span>Post:</span><%= @post.body %> </p>
  <%= button_tag class: "post-action btn btn-sm btn-warning" do %>
    <%= link_to "Edit Post", edit_post_path, method: :get %>
  <% end %>
  <%= button_tag class: "post-action btn btn-sm btn-warning" do %>
    <%= link_to "Delete Post", post_path(@post.id), method: :delete %>
  <% end %>
</div>
